In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df_appointments = pd.read_csv(r'C:\Users\user\New folder\appointments.csv', encoding = 'unicode_escape')
df_doctors = pd.read_csv(r'C:\Users\user\New folder\doctors.csv', encoding = 'unicode_escape')
df_patients = pd.read_csv(r'C:\Users\user\New folder\patients.csv', encoding = 'unicode_escape')
df_treatments = pd.read_csv(r'C:\Users\user\New folder\treatments.csv', encoding = 'unicode_escape')

In [3]:
df_appointments.shape

(10000, 7)

In [4]:
df_appointments.head(7)

,appointment_id,patient_id,appointment_date,status,department,doctor_id,symptoms
0,A00001,P0265,2024-12-11 19:07:08,Cancelled,NaN,D046,Headache
1,A00002,P0987,2023-10-13 03:22:08,Completed,Cardiology,D022,Back Pain
2,A00003,P0617,2023-07-13 03:50:00,Completed,General,D094,Chest pain
3,A00004,P0407,2023-08-15 06:59:21,No Show,Orthopedics,D029,Anxiety
4,A00005,P0753,2023-07-30 05:01:09,Completed,NaN,D171,Anxiety
5,A00006,P0973,2024-09-13 01:04:56,Cancled,Neurology,D128,Chest pain
6,A00007,P0244,2025-04-24 07:41:52,Cancelled,Neurology,D150,-

In [5]:
df_appointments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appointment_id    10000 non-null  object
 1   patient_id        10000 non-null  object
 2   appointment_date  10000 non-null  object
 3   status            10000 non-null  object
 4   department        8047 non-null   object
 5   doctor_id         9948 non-null   object
 6   symptoms          9031 non-null   object
dtypes: object(7)
memory usage: 547.0+ KB

In [6]:
pd.isnull(df_appointments).sum()

appointment_id         0
patient_id             0
appointment_date       0
status                 0
department          1953
doctor_id             52
symptoms             969
dtype: int64

In [7]:
df_appointments['department'] = df_appointments['department'].fillna('unknown')

In [8]:
df_appointments['symptoms'] = df_appointments['symptoms'].fillna('not specified')

In [11]:
df_appointments = df_appointments.dropna(subset=['doctor_id'])

In [12]:
pd.isnull(df_appointments).sum()

appointment_id      0
patient_id          0
appointment_date    0
status              0
department          0
doctor_id           0
symptoms            0
dtype: int64

In [18]:
df_appointments['appointment_day'] = df_appointments['appointment_date'].fillna('Unknown')

In [16]:
df_appointments['appointment_month'] = df_appointments['appointment_date'].fillna('0')
df_appointments['appointment_year'] = df_appointments['appointment_date'].fillna('0')

In [42]:
df_appointments['appointment_day'] = df_appointments['appointment_date'].dt.day_name()
df_appointments['appointment_month'] = df_appointments['appointment_date'].dt.month
df_appointments['appointment_year'] = df_appointments['appointment_date'].dt.year

In [40]:
df_appointments.columns

Index(['appointment_id', 'patient_id', 'appointment_date', 'status',
       'department', 'doctor_id', 'symptoms', 'appointment_month',
       'appointment_year', 'appointment_day'],
      dtype='object')

In [21]:
df_appointments = df_appointments.drop_duplicates()

In [22]:
df_appointments.dtypes

appointment_id       object
patient_id           object
appointment_date     object
status               object
department           object
doctor_id            object
symptoms             object
appointment_month    object
appointment_year     object
appointment_day      object
dtype: object

In [23]:
df_appointments.columns

Index(['appointment_id', 'patient_id', 'appointment_date', 'status',
       'department', 'doctor_id', 'symptoms', 'appointment_month',
       'appointment_year', 'appointment_day'],
      dtype='object')

In [24]:
df_appointments['symptoms'].unique()

array(['Headache', 'Back Pain', 'Chest pain', 'Anxiety', '-', 'Fever',
       'Breathlessness', 'Nausea', 'Joint Pain', 'not specified'],
      dtype=object)

In [25]:
df_appointments['symptoms'] = df_appointments['symptoms'].replace('-','unknowwn')

In [26]:
df_appointments['status'].value_counts()

Complted     2078
Completed    2005
No Show      1994
Cancled      1947
Cancelled    1924
Name: status, dtype: int64

In [28]:
df_appointments['status'] = df_appointments['status'].replace({'Cancled':'Cancelled', 'Complted':'Completed'})

In [29]:
df_appointments['status'].value_counts()

Completed    4083
Cancelled    3871
No Show      1994
Name: status, dtype: int64

In [30]:
df_appointments.describe().transpose()

                  count unique                  top  freq
appointment_id     9948   9948               A00001     1
patient_id         9948   1000                P0299    21
appointment_date   9948   9620  2023-07-XX 11:00:00   329
status             9948      3            Completed  4083
department         9948      5            Neurology  2044
doctor_id          9948    200                 D171    70
symptoms           9948     10             unknowwn  1043
appointment_month  9948   9620  2023-07-XX 11:00:00   329
appointment_year   9948   9620  2023-07-XX 11:00:00   329
appointment_day    9948   9620  2023-07-XX 11:00:00   329

In [31]:
df_appointments['appointment_date'].value_counts()

2023-07-XX 11:00:00    329
2024-12-11 19:07:08      1
2024-10-29 23:25:25      1
2023-09-09 21:41:48      1
2024-07-04 18:43:47      1
                      ...
2024-03-10 00:19:35      1
2025-03-24 06:50:06      1
2025-04-21 17:52:32      1
2023-10-19 04:30:15      1
2024-10-05 20:02:17      1
Name: appointment_date, Length: 9620, dtype: int64

In [32]:
df_appointments['appointment_date'] = pd.to_datetime(df_appointments['appointment_date'], errors = 'coerce')

In [33]:
df_appointments.dtypes

appointment_id               object
patient_id                   object
appointment_date     datetime64[ns]
status                       object
department                   object
doctor_id                    object
symptoms                     object
appointment_month            object
appointment_year             object
appointment_day              object
dtype: object

In [34]:
pd.isnull(df_appointments).sum()

appointment_id         0
patient_id             0
appointment_date     329
status                 0
department             0
doctor_id              0
symptoms               0
appointment_month      0
appointment_year       0
appointment_day        0
dtype: int64

In [44]:
df_appointments['appointment_month'] = df_appointments['appointment_month'].astype('Int64')
df_appointments['appointment_year'] = df_appointments['appointment_year'].astype('Int64')

In [45]:
df_appointments.head(10)

,appointment_id,patient_id,appointment_date,status,department,doctor_id,symptoms,appointment_month,appointment_year,appointment_day
0,A00001,P0265,2024-12-11 19:07:08,Cancelled,unknown,D046,Headache,12,2024,Wednesday
1,A00002,P0987,2023-10-13 03:22:08,Completed,Cardiology,D022,Back Pain,10,2023,Friday
2,A00003,P0617,2023-07-13 03:50:00,Completed,General,D094,Chest pain,7,2023,Thursday
3,A00004,P0407,2023-08-15 06:59:21,No Show,Orthopedics,D029,Anxiety,8,2023,Tuesday
4,A00005,P0753,2023-07-30 05:01:09,Completed,unknown,D171,Anxiety,7,2023,Sunday
5,A00006,P0973,2024-09-13 01:04:56,Cancelled,Neurology,D128,Chest pain,9,2024,Friday
6,A00007,P0244,2025-04-24 07:41:52,Cancelled,Neurology,D150,unknowwn,4,2025,Thursday
7,A00008,P0826,2023-09-14 00:18:02,No Show,General,D056,Fever,9,2023,Thursday
8,A00009,P0110,2023-10-07 06:49:47,Cancelled,General,D105,Breathlessness,10,2023,Saturday
9,A00010,P0884,2023-09-06 05:04:24,Completed,unknown,D096,Chest pain,9,2023,Wednesday

In [46]:
df_appointments.dtypes

appointment_id               object
patient_id                   object
appointment_date     datetime64[ns]
status                       object
department                   object
doctor_id                    object
symptoms                     object
appointment_month             Int64
appointment_year              Int64
appointment_day              object
dtype: object

In [47]:
df_doctors.shape

(200, 6)

In [48]:
df_doctors.head()

,doctor_id,doctor_name,specialization,city,active_status,joining_date
0,D001,Melody Baker,Pediatrics,Morganview,NaN,2023-03-30
1,D002,Faith Johnson,Pediatrics,Lake Ashleyport,Active,2021-12-04
2,D003,John Price,Pediatrics,Heidimouth,Active,2021-09-09
3,D004,Sarah Mueller,Orthopedics,Zimmermanberg,NaN,Invalid Date
4,D005,Kristen Burns,Cardiology,Christophermouth,Active,2016-11-21

In [49]:
pd.isnull(df_doctors).sum()

doctor_id          0
doctor_name       17
specialization    30
city               0
active_status     49
joining_date       0
dtype: int64

In [50]:
df_doctors['doctor_name'] = df_doctors['doctor_name'].fillna('unknown')
df_doctors['specialization'] = df_doctors['specialization'].fillna('unknown')
df_doctors['active_status'] = df_doctors['active_status'].fillna('unknown')

In [51]:
pd.isnull(df_doctors).sum()

doctor_id         0
doctor_name       0
specialization    0
city              0
active_status     0
joining_date      0
dtype: int64

In [52]:
df_doctors.dtypes

doctor_id         object
doctor_name       object
specialization    object
city              object
active_status     object
joining_date      object
dtype: object

In [53]:
df_doctors['joining_date'] = pd.to_datetime(df_doctors['joining_date'], errors = 'coerce')

In [54]:
df_doctors.dtypes

doctor_id                 object
doctor_name               object
specialization            object
city                      object
active_status             object
joining_date      datetime64[ns]
dtype: object

In [55]:
df_doctors.columns

Index(['doctor_id', 'doctor_name', 'specialization', 'city', 'active_status',
       'joining_date'],
      dtype='object')

In [56]:
df_doctors['specialization'].value_counts()

General        39
Pediatrics     35
Cardiology     34
Neurology      32
Orthopedics    30
unknown        30
Name: specialization, dtype: int64

In [57]:
df_doctors['city'].value_counts()

Jamesmouth         2
Morganview         1
South Chelsea      1
Medinaberg         1
Smithborough       1
                  ..
South Gregville    1
Josephshire        1
Gregorytown        1
Reynoldsmouth      1
Jasonmouth         1
Name: city, Length: 199, dtype: int64

In [58]:
df_doctors['active_status'].value_counts()

Active      62
unknown     49
Retired     45
Inactive    44
Name: active_status, dtype: int64

In [70]:
df_doctors['joining_day'] = df_doctors['joining_date'].dt.day_name()
df_doctors['joining_month'] = df_doctors['joining_date'].dt.month
df_doctors['joining_year'] = df_doctors['joining_date'].dt.year

In [71]:
df_doctors['joining_month'] = df_doctors['joining_month'].astype('Int64')
df_doctors['joining_year'] = df_doctors['joining_year'].astype('Int64')

In [76]:
df_doctors.head()

,doctor_id,doctor_name,specialization,city,active_status,joining_date,joining_day,joining_month,joining_year
0,D001,Melody Baker,Pediatrics,Morganview,unknown,2023-03-30,Thursday,3,2023
1,D002,Faith Johnson,Pediatrics,Lake Ashleyport,Active,2021-12-04,Saturday,12,2021
2,D003,John Price,Pediatrics,Heidimouth,Active,2021-09-09,Thursday,9,2021
4,D005,Kristen Burns,Cardiology,Christophermouth,Active,2016-11-21,Monday,11,2016
5,D006,Susan Hensley,Pediatrics,North Lisaville,Inactive,2019-08-01,Thursday,8,2019

In [74]:
df_doctors = df_doctors.drop_duplicates()

In [75]:
df_doctors.dropna(inplace=True)

In [77]:
pd.isnull(df_doctors).sum()

doctor_id         0
doctor_name       0
specialization    0
city              0
active_status     0
joining_date      0
joining_day       0
joining_month     0
joining_year      0
dtype: int64

In [78]:
df_doctors.dtypes

doctor_id                 object
doctor_name               object
specialization            object
city                      object
active_status             object
joining_date      datetime64[ns]
joining_day               object
joining_month              Int64
joining_year               Int64
dtype: object

In [79]:
df_doctors.describe()

       joining_month  joining_year
count     194.000000    194.000000
mean        6.551546   2019.670103
std         3.520469      2.655414
min         1.000000   2015.000000
25%         4.000000   2017.000000
50%         6.000000   2020.000000
75%        10.000000   2022.000000
max        12.000000   2024.000000

In [80]:
df_patients.head()

,patient_id,name,gender,birth_date,city,country,insurance_type,registration_date
0,P0001,Donna Harris,Male,30-11-2009,South Donnaport,IN,Public,30-05-2024 02:43
1,P0002,Brian Barker,Male,30-08-2000,Lake Samuelborough,USA,Private,17-01-2022 11:48
2,P0003,Alexander Davies,Male,28-11-1966,Priceside,NaN,None,09-03-2024 14:19
3,P0004,Joseph Flowers,Male,08-08-1995,North Matthewmouth,IN,None,19-10-2024 20:52
4,P0005,Jennifer Lewis,Female,10-06-2023,Bentleyside,DE,Private,31-01-2022 11:44

In [81]:
df_patients.shape

(1000, 8)

In [82]:
pd.isnull(df_patients).sum()

patient_id             0
name                  41
gender                26
birth_date             0
city                   0
country              212
insurance_type       199
registration_date      0
dtype: int64

In [85]:
df_patients['country'] = df_patients['country'].fillna('unknown')
df_patients['insurance_type'] = df_patients['insurance_type'].fillna('unknown')
df_patients['name'] = df_patients['name'].fillna('unknown')
df_patients['gender'] = df_patients['gender'].fillna('unknown')

In [86]:
df_patients['insurance_type'].value_counts()

-          210
Public     201
unknown    199
Private    197
None       193
Name: insurance_type, dtype: int64

In [84]:
df_patients['city'].unique()

array(['South Donnaport', 'Lake Samuelborough', 'Priceside',
       'North Matthewmouth', 'Bentleyside', 'Valdezfort',
       'East Cynthiaport', 'Port Lisaville', 'Rogersfurt', 'Port Brandon',
       'Lake Mitchell', 'Stricklandtown', 'Robertfort', 'Allenburgh',
       'Lake Margaretport', 'New Michaelside', 'East Danielberg',
       'North Deannaport', 'North Joyside', 'Lake Sean', 'Port Daniel',
       'North Thomas', 'Thompsonstad', 'West David', 'Barnesmouth',
       'New Tara', 'Hoodview', 'Rileyshire', 'South Tinaton',
       'Pachecoville', 'East Michael', 'Lake Stephen', 'Lopezstad',
       'Barrymouth', 'Port Gail', 'North Patrickmouth', 'East Tina',
       'Port Julie', 'Brianstad', 'Shannonstad', 'South Christopher',
       'West Daniel', 'Montesside', 'West Jaimetown', 'Lanemouth',
       'Torresberg', 'Taraton', 'Ianburgh', 'North Blake',
       'Lake Loganstad', 'North Richardfort', 'Deborahport',
       'Port Annette', 'East Ericaville', 'West Brianborough',
       'North Amandamouth', 'Stewarthaven', 'Paultown',
       'East Jessicamouth', 'Taylorshire', 'Carlshire', 'Thompsonmouth',
       'Angelaton', 'Walkertown', 'Lake Elizabethport', 'Port Joshualand',
       'Mccannville', 'East Luisberg', 'West Kellyland', 'New Marcus',
       'New Bettyberg', 'Samanthaburgh', 'South Stevenland', 'Donmouth',
       'Lake Lisabury', 'Williamsville', 'Bradleyport', 'New Rachel',
       'Michaelhaven', 'New Jayborough', 'New Melissa', 'Port Michael',
       'South Danielberg', 'West Tristanfurt', 'New Richard', 'Harryfort',
       'East Ralphshire', 'West James', 'Katelynfurt', 'Dylanmouth',
       'North Joanland', 'West Christy', 'Harrisfort',
       'Port Anthonychester', 'Stevenston', 'Jordanport', 'Alvarezburgh',
       'Katieport', 'Lisashire', 'Victoriachester', 'Lake Cameronport',
       'Bradleychester', 'Hudsonmouth', 'Tylermouth',
       'Port Melissaborough', 'Lake Meganville', 'Clarkland', 'Jamesfurt',
       'Lake Jacquelineburgh', 'Michaelton', 'Jenkinsland', 'West Gloria',
       'Stevenside', 'North Jonathan', 'Caseyton', 'Mosleyland',
       'New Elizabethshire', 'Port Lindsaymouth', 'Robinsonville',
       'South Amandaville', 'West Thomas', 'Port Joditon', 'Daniellestad',
       'Smithfurt', 'Jasonburgh', 'Mccormickview', 'Jenniferville',
       'Williamstad', 'Port Brettburgh', 'Leeland', 'Port Brooke',
       'Glennshire', 'South Nancy', 'North Terri', 'Burkeberg',
       'Ayalamouth', 'Keithfort', 'South Henry', 'Solomonstad',
       'Terrifurt', 'Charlesside', 'North Jonfurt', 'New Harryburgh',
       'Thomasville', 'Saraport', 'Ryanburgh', 'Brownberg', 'Wilsonfort',
       'Rodriguezberg', 'Annashire', 'South Samantha', 'Erinville',
       'North Christopher', 'West Taramouth', 'East Michelle',
       'Davisview', 'East Paul', 'Travischester', 'Elizabethstad',
       'Davischester', 'New Matthewmouth', 'West Taylorland', 'Edgarberg',
       'New Charleston', 'Michaelshire', 'Port Ian', 'Toddmouth',
       'East Christian', 'South Darrylburgh', 'Turnerstad',
       'East Derekborough', 'Port Anthony', 'North Kevin', 'Maynardfort',
       'Williamstown', 'Benjaminfurt', 'Lake Bruce', 'Smallville',
       'East Keithborough', 'Andersonport', 'Lauraburgh', 'East James',
       'New Brandon', 'Port Brycechester', 'Kristenton',
       'Lake Brentmouth', 'Port Annahaven', 'Lake Kelly', 'Matthewberg',
       'Port Lisa', 'Crystalbury', 'Gutierrezchester', 'South Dustintown',
       'Holdenburgh', 'New Brian', 'Moralesside', 'Rachelberg',
       'Terryfurt', 'Hardyberg', 'Katherineburgh', 'Jessicahaven',
       'Davidville', 'South Matthewbury', 'West Kevin', 'North Mark',
       'Pooleland', 'West Ericafurt', 'Fieldsmouth', 'New David',
       'Lake Jasonfort', 'Rodriguezstad', 'Kevinfort', 'Pamelaborough',
       'Port Bradleyfort', 'Davenportberg', 'Hernandezmouth', 'Morganton',
       'New Crystalport', 'New Aimeefort', 'West Kristinbury',
       'Richardton', 'Port Allisonfurt', 'East Jonathan', 'Howardton',
       'Nicholasville', 'Averyview', 'Schultztown', 'West Ashley',
       'Amberburgh', 'Williamsmouth', 'Nelsonview', 'Brandonside',
       'Natalieborough', 'Tiffanymouth', 'Allenberg', 'South Angela',
       'New Anthonymouth', 'Port Juanstad', 'South Tammy',
       'East Traceyfurt', 'Lake Joanne', 'East Jordanshire',
       'Lake Ericaview', 'Port Sheilachester', 'Lake Jeffreyview',
       'Christophershire', 'East Jamesmouth', 'New Lauramouth',
       'Port Matthewbury', 'Rileyland', 'North Samantha', 'New Brettfurt',
       'South Patrickchester', 'Holmesshire', 'Robertmouth', 'Palmerstad',
       'Carrieport', 'East Williamside', 'Port Casey', 'Melissashire',
       'South Jeffreytown', 'Navarromouth', 'Alejandrostad',
       'Bradleytown', 'Melaniebury', 'Port Ericafurt', 'Allenstad',
       'Johnsland', 'Bensonmouth', 'Port Amanda', 'Port William',
       'East Williamhaven', 'Adamsfurt', 'East Jeffreyborough',
       'Port Neil', 'Jerryton', 'Richardsonfort', 'West Rachelport',
       'North David', 'Kevinview', 'Alanport', 'South Destinyberg',
       'New Brenda', 'Meganchester', 'South Shannon', 'South Lisastad',
       'Marktown', 'Bairdborough', 'Fowlerport', 'Johnsonborough',
       'South Brianhaven', 'East Amandafort', 'West Ryan', 'New Jennifer',
       'Jacobsbury', 'Lake Christophermouth', 'South John', 'Lake Ashley',
       'Nicoleside', 'Jenkinsside', 'Hayesview', 'Cooperfurt',
       'Ellenmouth', 'South Lori', 'Davidfurt', 'Howardborough',
       'South Hannahmouth', 'West Regina', 'Lake Elizabeth', 'Lake Gary',
       'New Jamie', 'Marcustown', 'Lake Lisastad', 'Birdville',
       'Susanmouth', 'Gregorymouth', 'Reyesbury', 'West Joelchester',
       'Dennismouth', 'Karenbury', 'Port Grace', 'Sotoland',
       'North Glenn', 'Hardyport', 'Justinmouth', 'Grayfort',
       'New Jessica', 'Jonesberg', 'South Nicoleville', 'Williamfort',
       'East Tim', 'West Catherine', 'North Darryl', 'New Reneechester',
       'Willischester', 'Lisaview', 'Port Travis', 'Jessicaburgh',
       'Lake Dennis', 'East Brian', 'Simsville', 'Calebtown',
       'West Karentown', 'South Carrieview', 'Lisastad',
       'North Stephenfurt', 'Stephaniebury', 'Kellertown',
       'Port Jillmouth', 'Ronniefort', 'Lake Douglas', 'South Laura',
       'South Stephanie', 'North Ryantown', 'Lake Jonathan', 'Davismouth',
       'Nicholasfurt', 'West Darrell', 'New Michaelmouth',
       'West Bryanside', 'New Elizabeth', 'Duaneport', 'West Wendyshire',
       'Port Masonborough', 'Port Tony', 'New Philipchester',
       'Justinborough', 'Port Sarahport', 'Phyllisborough',
       'Lake Kristenberg', 'North Cody', 'Brittneyberg', 'Turnerburgh',
       'Port Stevenfurt', 'North Tracyhaven', 'Port Brittanyfurt',
       'South Lisa', 'Brownshire', 'East Michelleburgh', 'Lake Evan',
       'Michaelside', 'New Rebeccaport', 'Catherinehaven', 'East Kevin',
       'Joshuachester', 'Bryantview', 'Wandaborough', 'South Lorraine',
       'Kimberlyberg', 'Lynnville', 'New Michaelshire', 'West Stacey',
       'Woodsberg', 'South Ashley', 'Mannburgh', 'West Cynthia',
       'North Jessicaland', 'South Ericaberg', 'New Shaneburgh',
       'West Maryhaven', 'West Robinbury', 'Carterborough',
       'South Patriciafort', 'New Stevenport', 'Alanchester',
       'South Adamview', 'Danielmouth', 'West Nicoleborough',
       'East Elizabethfort', 'Karenfurt', 'North Lauraberg',
       'Russelltown', 'New Elijah', 'Lake Lori', 'East Victoria',
       'West Veronicaberg', 'Warrenbury', 'West Danielstad',
       'North Aaron', 'South Jackfort', 'West Michael', 'Lake Joshua',
       'North Brendaborough', 'Pierceview', 'Shaneville',
       'East Carolberg', 'Simpsonside', 'East Samuelhaven',
       'North Ernest', 'Gordonhaven', 'East Jeffreyside', 'West Morgan',
       'North Deborahstad', 'Villanuevaport', 'West Teresa',
       'Lake Juliefurt', 'Walkerview', 'Hallchester', 'Port Michelle',
       'West Frankburgh', 'Sanchezfurt', 'South Patrickville',
       'Port Christopher', 'New Jillmouth', 'Ochoaport',
       'North Malloryville', 'East Andrewchester', 'South Gavinville',
       'Davidland', 'Lake Ronald', 'Colleenport', 'Lisaland',
       'West Dylan', 'New Ronaldview', 'Luischester', 'Port Sherry',
       'Patelbury', 'Rosebury', 'Angelaberg', 'North Suzanne',
       'Brianville', 'East Michaelland', 'South Julia', 'Harringtontown',
       'New Ethan', 'Samanthahaven', 'Spenceberg', 'Port Heatherfort',
       'Deborahborough', 'East Julianside', 'New James',
       'New Valeriefort', 'Susanhaven', 'West Richardhaven', 'Williston',
       'Lake Jesseborough', 'Sethberg', 'Allenland', 'Port Monica',
       'South Leeport', 'Lake Kelsey', 'New Tracystad', 'Richardsonmouth',
       'Lake Krystalside', 'Nashbury', 'Rodriguezburgh', 'South Mark',
       'West Shawnside', 'New Kimton', 'Irwinborough', 'Johnnyburgh',
       'Warrenview', 'Franklinstad', 'Ritashire', 'Lake Elizabethberg',
       'East Peggyberg', 'Abigailtown', 'North Jefferyborough',
       'Jasonborough', 'Peggyhaven', 'Jenkinsstad', 'South Ross',
       'Waltersville', 'Garciaside', 'Melissaborough', 'West Tammymouth',
       'West Kimberlyhaven', 'North Rachel', 'Matthewshire', 'Pooleshire',
       'Stronghaven', 'Lake Barbarafurt', 'Jamesland', 'New Patrickberg',
       'West Christopherberg', 'Hoville', 'Kirkborough', 'East Gracefurt',
       'Alejandroburgh', 'Timothyside', 'New Andrewhaven',
       'West Dillonland', 'West Jeanport', 'West Gerald',
       'Gabrielborough', 'New Patrickborough', 'North Susan',
       'Raymondville', 'East Dianestad', 'Jasonshire', 'New Jeff',
       'Flemingchester', 'Williamsview', 'Youngtown', 'Mitchellfurt',
       'North Terrychester', 'Troyton', 'Port Nathanielville',
       'Perezland', 'Lake Mirandaview', 'Markfurt', 'West Michelle',
       'Barnetthaven', 'Kendrafort', 'Lake Deborah', 'North Ellen',
       'Kathleenport', 'West Paul', 'West Rodneyport', 'East Allenmouth',
       'Davidside', 'Brianview', 'West Jaime', 'Lake Brendanbury',
       'North Amanda', 'Garciaview', 'Jessicaville', 'East Leslie',
       'Pattersontown', 'Tarashire', 'Maryhaven', 'Port Clifford',
       'Elizabethview', 'Rodriguezhaven', 'West Tyler',
       'East Samanthafurt', 'Archerhaven', 'Landryview',
       'South Laurashire', 'South Erin', 'Robertsport',
       'South Kevinchester', 'Kristenhaven', 'Lake James', 'Port Erika',
       'Carlaburgh', 'West Derek', 'Gardnerfurt', 'New Anthonychester',
       'South Elizabeth', 'North Josephville', 'North Joyhaven',
       'Taylorberg', 'North Carlos', 'South Angelhaven', 'Port Jimmy',
       'South Timothy', 'Peterville', 'New Pedroshire', 'Williamsstad',
       'Vincenthaven', 'Lake Edward', 'Kristenport', 'Obrienburgh',
       'Lake Mario', 'Port Jessicabury', 'Port Lindsey', 'Nielsenton',
       'Catherinetown', 'East Johnny', 'North Brandi', 'West Kimshire',
       'Leeborough', 'Port Carlos', 'Craigfort', 'Peterstad',
       'Port April', 'Gilesview', 'East Trevorshire', 'South Carlyland',
       'North Tylerbury', 'North Anthonyborough', 'Williamsfurt',
       'Wilsonstad', 'New Alejandrochester', 'Port Jenniferton',
       'Carriebury', 'North Johnside', 'Marquezstad', 'Heidihaven',
       'Ramirezborough', 'North Nathan', 'Bentontown', 'North Joshuafurt',
       'South Jack', 'New Karenmouth', 'West Jessicachester',
       'New Paulport', 'Franciscofurt', 'Laurenview', 'Matthewfurt',
       'North Kurtmouth', 'South Benjaminstad', 'West Pennyside',
       'Mistyberg', 'North Diamond', 'North Stephanie', 'New Jimmyville',
       'Ashleychester', 'Matthewchester', 'East Michealport',
       'Williamhaven', 'Lake Jessicafurt', 'Ryanville', 'Stewartborough',
       'South Leslie', 'Christopherside', 'Hartmanbury', 'Craigberg',
       'Fisherberg', 'East Davidview', 'Port Ryanburgh',
       'Lake Brandonstad', 'Katherineberg', 'East Paulashire',
       'New Zacharyhaven', 'Stoneshire', 'Joshuamouth',
       'East Elizabethberg', 'New Amandaborough', 'Dennishaven',
       'Onealfort', 'Lindabury', 'Lake Haileyton', 'Lake Courtneybury',
       'Theodorefort', 'New Mercedesborough', 'South Haileyfurt',
       'West Mary', 'Amyport', 'Montesmouth', 'West Heidiberg',
       'Mcdanieltown', 'New Kelseyview', 'Ritaview', 'Ortizshire',
       'Katieside', 'Robertside', 'New Raymondfort', 'West Karenfurt',
       'North Williamchester', 'Lake Briannafurt', 'West Joshuaborough',
       'South Andre', 'Martinland', 'North Donald', 'Port Trevorchester',
       'Savageview', 'Gardnermouth', 'North Ronaldland', 'East Samuel',
       'Taylorside', 'West Davidport', 'Anneburgh', 'Thomasborough',
       'West Jacquelineborough', 'Wheelerland', 'West Justin',
       'Villaside', 'West Gregory', 'Barbarashire', 'Clarktown',
       'East Fred', 'Colemanfort', 'Schroederfort', 'East Sonia',
       'Nealview', 'Port Michaelmouth', 'South Neil', 'North Brenda',
       'Arthurview', 'Colleenshire', 'Henryfort', 'North Mikeberg',
       'North Scottton', 'West Marymouth', 'Lake Richardton',
       'East Scottview', 'Joshuastad', 'Davisland', 'Port Alex',
       'Maryborough', 'West Donald', 'West Jordan', 'Gallegosburgh',
       'Lake Ryan', 'Christopherborough', 'South Donald',
       'Jacquelinestad', 'East Robinport', 'Watkinschester',
       'Timothyfurt', 'South Ronaldview', 'New Karen', 'Lauraberg',
       'East Nicole', 'Lake Johnside', 'Piercefurt', 'Port Sabrina',
       'Lorichester', 'East Nicoleburgh', 'Melendezbury', 'Hernandezport',
       'East Raymond', 'Laratown', 'South Desireefurt',
       'New Lindsaymouth', 'Danielburgh', 'West Stacyshire',
       'Williamsport', 'Johnnymouth', 'Michaeltown', 'New Joannabury',
       'Jordanview', 'Huntland', 'New Jose', 'Ashleyborough', 'Walterton',
       'Clarkchester', 'Coltonbury', 'Matthewsmouth', 'Spearstown',
       'Clarkburgh', 'Lake Tommystad', 'Shannonmouth', 'Perrytown',
       'Fritzfurt', 'South Jefferyville', 'Bellborough',
       'Lake Nicolemouth', 'Mitchellmouth', 'Kathrynburgh', 'Lopeztown',
       'Doughertymouth', 'Andrewfurt', 'Jenniferbury', 'Calvintown',
       'Port Gregory', 'East Steven', 'Atkinsland', 'South Timothyton',
       'West Reginaldhaven', 'Katherineshire', 'West Robert',
       'West Dawnland', 'Kennethmouth', 'Port Donaldhaven',
       'Shirleyburgh', 'Lake Linda', 'North Melissa', 'Woodsburgh',
       'Nicholasfort', 'Lake Staceymouth', 'East Edward', 'Stevenstown',
       'West Elizabeth', 'Port Brianshire', 'East Hannah',
       'Lake Jamesland', 'New Kathleen', 'East Timothymouth', 'Evanstown',
       'New Linda', 'Travisburgh', 'Michellebury', 'Port Sonyafort',
       'North Kathleen', 'East Kimberly', 'Garciaport', 'New Emily',
       'West Sue', 'Shannonchester', 'Andrewborough', 'Ronaldfurt',
       'Gatesville', 'Craneton', 'West Valerie', 'Samuelport',
       'Port Edward', 'Angelaport', 'Rebeccamouth', 'Masonview',
       'Simmonsfort', 'Allenchester', 'Campbellmouth', 'New Erichaven',
       'Port Charles', 'Charlesshire', 'South Autumntown', 'West Melissa',
       'Valdezborough', 'East Kendra', 'New Michael', 'West Frank',
       'South David', 'East Williamshire', 'Karamouth', 'North Lauren',
       'South Lindafurt', 'Bautistaport', 'Brandonbury',
       'North Caitlynborough', 'Thompsonhaven', 'North Tyler',
       'Anthonytown', 'Phyllisland', 'Taylortown', 'Summerville',
       'East Jeffrey', 'Campbellville', 'Robertberg', 'Welchborough',
       'South Marcus', 'Hayesborough', 'Matthewburgh',
       'Lake Melissahaven', 'North Jeremy', 'Kurtchester', 'East Mary',
       'New Michelle', 'West Erik', 'Garrisonview', 'Englishmouth',
       'Jasonland', 'South Kristie', 'East Tabithaview', 'South Douglas',
       'Port Courtneyfort', 'Lake Stevenshire', 'New Dakota',
       'Copelandchester', 'Daniellemouth', 'Lake Lindabury', 'New Ryan',
       'Obrienfurt', 'North Tammybury', 'Ochoaton', 'South Lisachester',
       'Coreychester', 'Michaelbury', 'Kaylaburgh', 'Kimberlyburgh',
       'Mariaville', 'Port Patrick', 'Kariburgh', 'Katherineside',
       'Phelpsberg', 'Port Stephanieport', 'East Amyview', 'Wongborough',
       'Masseychester', 'Burtonfurt', 'Woodbury', 'Danielbury',
       'Adamston', 'New Shaneton', 'Lake Joshuaview', 'Lewismouth',
       'Thomasside', 'Brianaland', 'New Kim', 'Christopherfurt',
       'Taylormouth', 'Shannonville', 'Lake Nathanielburgh',
       'Anthonyshire', 'Whiteborough', 'South Jasmine',
       'New Benjaminside', 'New Samantha', 'Lake Angelamouth',
       'Williamston', 'Port Aprilmouth', 'West Luke', 'Bennettfort',
       'Kelliton', 'Lake Lee', 'Tamaraton', 'New Nathan', 'Lake Luke',
       'South Jamieville', 'South Margaret', 'Jamieview', 'Port Kimberly',
       'Lake Hannah', 'East Amandaburgh', 'Amandaport', 'Danielville',
       'Gonzalezhaven', 'North Kathryn', 'Harperton', 'Port Jason',
       'West Steven', 'East Jackborough', 'New Allison',
       'South Apriltown', 'North Gabrielle', 'Port Jeffreyton',
       'Campbellfurt', 'Tinamouth', 'East Justin', 'Jodychester',
       'Quinnmouth', 'East Jay', 'Rachelside', 'Williamsborough',
       'Lake Patrick', 'Bradleyburgh', 'East Robert', 'Cherylhaven',
       'North Alanton', 'East Kyle', 'Morganburgh', 'Hannahbury',
       'South Thomas', 'Richardsburgh', 'Nicoleland', 'North Victoria',
       'West Carriefort', 'Freystad', 'Floresburgh'], dtype=object)

In [87]:
df_patients['insurance_type'] = df_patients['insurance_type'].replace('-', 'unknown')

In [88]:
df_patients['insurance_type'].value_counts()

unknown    409
Public     201
Private    197
None       193
Name: insurance_type, dtype: int64

In [89]:
df_patients = df_patients.drop_duplicates()

In [90]:
df_patients.columns

Index(['patient_id', 'name', 'gender', 'birth_date', 'city', 'country',
       'insurance_type', 'registration_date'],
      dtype='object')

In [91]:
df_patients['gender'].value_counts()

Male       536
Female     438
unknown     26
Name: gender, dtype: int64

In [92]:
df_patients.value_counts()

patient_id  name                  gender  birth_date  city              country  insurance_type  registration_date
P0001       Donna Harris          Male    30-11-2009  South Donnaport   IN       Public          30-05-2024 02:43     1
P0672       Ralph Hendricks       Male    11-10-2003  East Paulashire   IN       unknown         22-12-2023 08:47     1
P0659       Hailey Lewis          Female  02-10-2013  Lake Jessicafurt  UK       None            10-09-2024 18:35     1
P0660       Mrs. Angela Walls MD  Female  22-12-2002  Ryanville         UK       Private         20-01-2025 18:59     1
P0661       Rebecca Lawson        Female  01-03-2024  Stewartborough    unknown  None            02-01-2025 19:01     1
                                                                                                                     ..
P0339       David Lane            Male    18-08-2024  North Darryl      unknown  unknown         04-11-2021 11:45     1
P0340       Sydney Sanders        Male    24-03-2014  New Reneechester  unknown  Public          26-02-2022 16:42     1
P0341       Dawn Turner           Male    07-01-2007  Willischester     DE       Private         26-08-2024 00:10     1
P0342       Monica Davis          Female  12-01-2021  Lisaview          unknown  None            20-08-2024 05:02     1
P1000       Jose Hendrix          Male    22-08-1937  Floresburgh       DE       Public          02-09-2021 21:28     1
Length: 1000, dtype: int64

In [93]:
df_patients = df_patients[df_patients['gender'] != 'unknown']

In [94]:
df_patients = df_patients.dropna()

In [95]:
pd.isnull(df_patients).sum()

patient_id           0
name                 0
gender               0
birth_date           0
city                 0
country              0
insurance_type       0
registration_date    0
dtype: int64

In [96]:
df_patients['country'].unique()

array(['IN', 'USA', 'unknown', 'DE', 'UK'], dtype=object)

In [97]:
df_patients.dtypes

patient_id           object
name                 object
gender               object
birth_date           object
city                 object
country              object
insurance_type       object
registration_date    object
dtype: object

In [98]:
df_patients['registration_date'] = pd.to_datetime(df_patients['registration_date'], errors = 'coerce')

In [100]:
df_patients['registration_day'] = df_patients['registration_date'].dt.day_name()
df_patients['registration_month'] = df_patients['registration_date'].dt.month
df_patients['registration_year'] = df_patients['registration_date'].dt.year

In [101]:
df_patients['registration_month'] = df_patients['registration_month'].astype('Int64')
df_patients['registration_year'] =df_patients['registration_year'].astype('Int64')

In [102]:
df_patients.head(100)

,patient_id,name,gender,birth_date,city,country,insurance_type,registration_date,registration_day,registration_month,registration_year
0,P0001,Donna Harris,Male,30-11-2009,South Donnaport,IN,Public,2024-05-30 02:43:00,Thursday,5,2024
1,P0002,Brian Barker,Male,30-08-2000,Lake Samuelborough,USA,Private,2022-01-17 11:48:00,Monday,1,2022
2,P0003,Alexander Davies,Male,28-11-1966,Priceside,unknown,None,2024-09-03 14:19:00,Tuesday,9,2024
3,P0004,Joseph Flowers,Male,08-08-1995,North Matthewmouth,IN,None,2024-10-19 20:52:00,Saturday,10,2024
4,P0005,Jennifer Lewis,Female,10-06-2023,Bentleyside,DE,Private,2022-01-31 11:44:00,Monday,1,2022
...,...,...,...,...,...,...,...,...,...,...,...
95,P0096,Janet Edwards,Male,01-09-1985,Stevenston,unknown,None,2022-03-15 20:30:00,Tuesday,3,2022
96,P0097,Shannon Turner,Male,15-10-1956,Jordanport,IN,Private,2024-06-29 22:27:00,Saturday,6,2024
97,P0098,Phillip Carroll,Male,19-03-2001,Alvarezburgh,unknown,Private,2023-10-08 04:56:00,Sunday,10,2023
98,P0099,Dennis Garza,Male,13-11-1985,Katieport,UK,Private,2022-10-24 22:49:00,Monday,10,2022
99,P0100,Kevin Anderson,Male,26-04-1984,Lisashire,UK,None,2021-07-25 21:15:00,Sunday,7,2021

In [103]:
df_patients['birth_date'] = pd.to_datetime(df_patients['birth_date'], dayfirst = True, errors = 'coerce')

In [104]:
df_patients.dtypes

patient_id                    object
name                          object
gender                        object
birth_date            datetime64[ns]
city                          object
country                       object
insurance_type                object
registration_date     datetime64[ns]
registration_day              object
registration_month             Int64
registration_year              Int64
dtype: object

In [105]:
df_patients.rename(columns={'name':'patient_name'}, inplace=True)

In [5]:
df_patients.columns

Index(['patient_id', 'patient_name', 'gender', 'birth_date', 'city', 'country',
       'insurance_type', 'registration_date'],
      dtype='object')

In [106]:
df_treatments.head()

,treatment_id,appointment_id,treatment_type,treatment_date,medication,cost
0,T00001,A01646,Surgery,2023-07-02 03:14:38,Paracetamol,2678.15
1,T00002,A03121,NaN,2023-11-23 07:49:39,Ibuprofen,1380.87
2,T00003,A01278,MRI,2024-11-19 09:39:28,NaN,3538.04
3,T00004,A09714,X-ray,2023-11-03 10:22:29,Atenolol,4968.30
4,T00005,A05602,NaN,2024-05-06 07:39:47,Atenolol,4402.17

In [107]:
df_treatments.shape

(6000, 6)

In [108]:
df_treatments.dtypes

treatment_id       object
appointment_id     object
treatment_type     object
treatment_date     object
medication         object
cost              float64
dtype: object

In [109]:
pd.isnull(df_treatments).sum()

treatment_id         0
appointment_id       0
treatment_type     971
treatment_date       0
medication        1197
cost                 0
dtype: int64

In [110]:
df_treatments['treatment_type'] = df_treatments['treatment_type'].fillna('unknown')
df_treatments['medication'] = df_treatments['medication'].fillna('unknown')

In [111]:
pd.isnull(df_treatments).sum()

treatment_id      0
appointment_id    0
treatment_type    0
treatment_date    0
medication        0
cost              0
dtype: int64

In [112]:
df_treatments = df_treatments.drop_duplicates()

In [113]:
df_treatments.shape

(6000, 6)

In [114]:
df_treatments.columns

Index(['treatment_id', 'appointment_id', 'treatment_type', 'treatment_date',
       'medication', 'cost'],
      dtype='object')

In [116]:
df_treatments['treatment_type'].unique()

array(['Surgery', 'unknown', 'MRI', 'X-ray', 'Consultation',
       'ECG + Consultation'], dtype=object)

In [117]:
df_treatments['medication'].unique()

array(['Paracetamol', 'Ibuprofen', 'unknown', 'Atenolol', '-'],
      dtype=object)

In [118]:
df_treatments['medication'] = df_treatments['medication'].replace('-', 'unknown')

In [119]:
df_treatments['medication'].value_counts()

unknown        2349
Atenolol       1248
Ibuprofen      1230
Paracetamol    1173
Name: medication, dtype: int64

In [120]:
df_treatments.describe()

              cost
count  6000.000000
mean   2463.913603
std    1492.321002
min     -99.640000
25%    1170.907500
50%    2454.420000
75%    3787.185000
max    4999.990000

In [121]:
%whos

Variable          Type         Data/Info
----------------------------------------
create_engine     function     <function create_engine at 0x00000213EF281F70>
df_appointments   DataFrame         appointment_id patie<...>n[9948 rows x 10 columns]
df_doctors        DataFrame        doctor_id        doct<...>n\n[194 rows x 9 columns]
df_patients       DataFrame        patient_id        pat<...>\n[974 rows x 11 columns]
df_treatments     DataFrame         treatment_id appoint<...>\n[6000 rows x 6 columns]
pd                module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>

In [122]:
engine = create_engine("mysql+mysqlconnector://root:jonemoni$#30@localhost:3306/health_care")

In [123]:
df_treatments.to_sql(name='treatments', con=engine, if_exists='replace', index=False)

-1